html, body{
    height: 100%;
}
.container{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    height: auto !important;
}
header, footer{
    min-height: 100px;
    background-color: blueviolet;
}
main{
    background-color: blanchedalmond;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
aside{
    background-color: lightseagreen;
    width: 200px;
}
.logo{
    text-align: center;
}
h1{
    text-align: center;
    margin: 0 auto;
}
.menu div{
    background-color: burlywood;
    text-align: center;
}
.menu a{
    color: green;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}