html, body{
    height: 100%;
}
.container{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    height: auto !important;
}
header, footer{
    min-height: 100px;
    background-color: blueviolet;
}
main{
    background-color: blanchedalmond;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
aside{
    background-color: lightseagreen;
    width: 200px;
}
.logo{
    text-align: center;
}
h1{
    text-align: center;
    margin: 0 auto;
}
.menu div{
    background-color: burlywood;
    text-align: center;
    padding: 20px 20px;
    flex-grow: 1;
    margin: 5px 0;
}
.menu a{
    color: green;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

#bold-text{
    font-weight: bold;
}
footer{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.address, .email, .tel{
    text-align: center;
}
.flex-container{
    display: flex;
    width: 600px;
    height: 600px;
}
.flex-element{
    text-align: center;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}